doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title SuperMegaAwesome Landing Page | attempt
        link(rel="stylesheet", href="css/normalize.css")
        link(rel="stylesheet", href="css/styles.css")
    body
        section.banner
            .wrapper
                header.banner__header
                    p.banner__logo Super
                        span Mega
                        |Awesome
                    nav.banner__nav
                        a(href="#") Home
                        a(href="#") Portfolio
                        a(href="#") Services
                        a(href="#").btn.btn--secondary.btn--sm Get in touch
                .banner__content
                    h1.title We create beautiful products.
                    h1.sub_title Truffaut DIY keffiyeh, twee messenger bag venmo locavore organic master cleanse marfa jochujang selvage.
                    .btn_wrapper
                        a(href="#").btn.btn--highlight Learn More
                        a(href="#").btn.btn--secondary Play Video
        section.services.cf
            .wrapper
                .service
                    h3 Branding
                    p Truffaut DIY keffiyeh, twee messenger bag venmo locavore organic master cleanse marfa jochujang selvage.
                    a(href="#").btn.btn--highlight.btn--sm Learn More
                .service
                    h3 UI/UX Design
                    p Truffaut DIY keffiyeh, twee messenger bag venmo locavore organic master cleanse marfa jochujang selvage.
                    a(href="#").btn.btn--highlight.btn--sm Learn More
                .service
                    h3 Development
                    p Truffaut DIY keffiyeh, twee messenger bag venmo locavore organic master cleanse marfa jochujang selvage.
                    a(href="#").btn.btn--highlight.btn--sm Learn More
